---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charge_configs
    body:
      encoding: UTF-8
      string: '{"name":"PJBank testing","type":"payment_gateway","payee_id":1,"gateway_name":"pjbank","gateway_id":"5c2887642b3acc1604b94baedb972746014ca22b","gateway_key":"6368019b797add1becdb526681019fa82b9de92c","billet_gateway_id":"d3418668b85cea70aa28965eafaf927cd34d004c","billet_gateway_key":"46e79d6d5161336afa7b98f01236efacf5d0f24b"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-02-05T18:43:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["gkrue7eueqpk0fwxs1gm"]'
    body:
      encoding: UTF-8
      string: '{"id":281,"type":"payment_gateway","name":"PJBank testing","status":"pending","payee_id":1,"gateway_name":"pjbank","gateway_key":"6368019b797add1becdb526681019fa82b9de92c","gateway_id":"5c2887642b3acc1604b94baedb972746014ca22b","billet_gateway_key":"46e79d6d5161336afa7b98f01236efacf5d0f24b","billet_gateway_id":"d3418668b85cea70aa28965eafaf927cd34d004c","account_holder":false,"use_avs":null,"_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/charge_configs/281"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/charge_configs/281"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/charge_configs/281"},{"rel":"payee","method":"GET","href":"http://localhost:3000/api/v1/payees/1"}]}'
      effective_url: http://localhost:3000/api/v1/charge_configs
  recorded_at: Mon, 05 Feb 2018 18:42:38 GMT
recorded_with: VCR 2.9.3
