---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charges
    body:
      encoding: UTF-8
      string: '{"charge_config_id":682,"charged_amount":721.0,"due_date":"06/05/2028","type":"billet","instructions":"instructions
        about gateway billet","payer_attributes":{"national_identifier_type":"cpf","national_identifier":"12345678909","name":"Jonh
        Doe"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2019-05-29T20:09:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-MiniProfiler-Ids:
      - '["3yi2o46gkt57jtubvhf7","p3yart6g3k9kzgeqewln"]'
    body:
      encoding: UTF-8
      string: '{"type":"billet","id":125773,"charged_amount":"721.0","paid_amount":null,"paid_at":null,"charge_config_id":682,"due_date":"2028-05-06","payer_id":12444,"payer_national_identifier_type":"cpf","payer_national_identifier":"12345678909","payer_name":"Jonh
        Doe","payer_number":null,"payer_complement":null,"payer_street":null,"payer_neighbourhood":null,"payer_zipcode":null,"payer_city":null,"payer_state":null,"notification_emails":[],"document_kind":"DM","barcode":null,"interest_amount_per_month":"0.0","mulct_value":"0.0","discount_amount":"0.0","email_sender_name":null,"email_subject":null,"email_text":null,"email_reply_to":null,"auto_send_billet":false,"canceled_at":null,"payment_gateway_status":"pending","payment_gateway_message":null,"instructions":"instructions
        about gateway billet","available_billet":false,"total_amount":"721.0","received_amount":null,"received_at":null,"received":false,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/125773"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charges/125773"},{"rel":"charge_config","method":"GET","href":"http://localhost:3000/api/v1/charge_configs/682"},{"rel":"deliver","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/125773/deliver_billet"},{"rel":"billet","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/125773/billet"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charges
  recorded_at: Wed, 29 May 2019 20:08:51 GMT
recorded_with: VCR 2.9.3
