---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/remittance_cnabs/41
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"81d2397db23f725b67c0569c35111343"
    body:
      encoding: UTF-8
      string: '{"id":41,"charge_config_id":126,"status":"processed","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/126"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41/file"},{"rel":"charges","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41/charges"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/remittance_cnabs/41
  recorded_at: Mon, 04 Apr 2016 20:45:51 GMT
recorded_with: VCR 2.9.3
