---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_type":"provider","payment_method":"ted_other_ownership","amount":69.55,"date":"2017-12-24","our_number":"456789","bank_code":"341","agency":"9358","account":"21500","account_digit":"3","ted_goal":"00016","payee_attributes":{"national_identifier_type":"cpf","national_identifier":"123.456.789-09","name":"John
        Doe"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-06-08T20:43:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["6d0m297alf4fptymyn6k","qon218tac5f09ug0i7na"]'
    body:
      encoding: UTF-8
      string: '{"id":104,"amount":"69.55","payment_config_id":1,"date":"2017-12-24","our_number":null,"payment_method":"ted_other_ownership","payment_type":"provider","account":"21500","account_digit":"3","agency":"9358","bank_code":"341","payee_document":"12345678909","payee_name":"John
        Doe","doc_goal":null,"ted_goal":"00016","registration_status":"without_remittance","note":null,"_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/104"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/104"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/104"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/1"}]}'
      effective_url: http://localhost:3000/api/v1/payments
  recorded_at: Fri, 08 Jun 2018 20:42:34 GMT
recorded_with: VCR 2.9.3
