---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_type":"provider","payment_method":"ted_other_ownership","amount":69.55,"date":"2017-12-24","our_number":"456789","bank_code":"341","agency":"9358","payee_document_type":"cpf","payee_document":"123.456.789-09","payee_name":"John
        Doe","account":"21500","account_digit":"3","ted_goal":"00016"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2017-12-04T16:30:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["s6zcobvoep69nb1rutoj"]'
    body:
      encoding: UTF-8
      string: '{"id":17,"amount":"69.55","date":"2017-12-24","our_number":null,"payment_method":"ted_other_ownership","payment_type":"provider","account":"21500","account_digit":"3","agency":"9358","bank_code":"341","payee_document":"123.456.789-09","payee_name":"John
        Doe","doc_goal":null,"ted_goal":"00016","registration_status":"without_remittance","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payments/17"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payments/17"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payments/17"},{"rel":"payment_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payments
  recorded_at: Mon, 04 Dec 2017 16:29:48 GMT
recorded_with: VCR 2.9.3
