---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/payment_configs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2017-10-16T19:50:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["62buo7i8m2g1zqgodbsj"]'
    body:
      encoding: UTF-8
      string: '{"payment_configs":[{"id":1,"name":"Pagamento Project Builder - Santander","bank_account_id":50,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"},{"rel":"bank_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/50"}]},{"id":2,"name":"Pagamento
        Eduardo fake - Santander","bank_account_id":155,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/2"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payment_configs/2"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payment_configs/2"},{"rel":"bank_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/155"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payment_configs
  recorded_at: Mon, 16 Oct 2017 19:49:01 GMT
recorded_with: VCR 2.9.3
