---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/remittance_cnabs/41/charges
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c4109d484fdebbefeb20d431c1b68df8"
    body:
      encoding: UTF-8
      string: '{"charges":[{"id":1914,"type":"billet","charge_config_id":126,"due_date":"2015-02-14","document_kind":"DV","document_date":null,"document_number":"NA","custom_our_number":false,"our_number":"57","our_number_digit":null,"total_amount":10.07,"instructions":"Pagvel
        em qualquer agncia at data do vencimento","demonstrative":"Demonstrativo","payer_emails":["myemail@gmail.com"],"received":false,"received_amount":null,"received_at":null,"processing_date":null,"for_homologation":null,"payer_national_identifier_type":"cpf","payer_national_identifier":"12345678909","payer_name":"Jonh
        Doe","payer_number":"43","payer_complement":"8 andar","payer_street":"Rua
        do Carmo","payer_neighbourhood":"Centro","payer_zipcode":"22230062","payer_city":"Rio
        de Janeiro","payer_state":"RJ","registrable":true,"registration_status":"remitted","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/1914"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charges/1914"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charges/1914"},{"rel":"deliver","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/1914/deliver_billet"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/126"},{"rel":"billet","method":"GET","href":"https://sandbox.cobr[...]
