---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/charge_configs/280
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-04-10T18:30:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["6ghuecluhhua4y5cl9ma","uedb3eu7uayj0ctspb61","f0usbc5i3725uo192wk8"]'
    body:
      encoding: UTF-8
      string: '{"id":280,"type":"payment_gateway","name":"Taxweb pjbank","status":"ok","payee_id":26,"gateway_name":"pjbank","gateway_key":"25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3","gateway_id":"1006993069","billet_gateway_key":"bc170f4d722d0abe178c7f83960c4bcfc49678e7","billet_gateway_id":"c7a323bcbca670b9bcff6d841f7b98d5530e83e7","account_holder":false,"use_avs":null,"available_charge_types":["billet","credit_card"],"_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/charge_configs/280"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/charge_configs/280"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/charge_configs/280"},{"rel":"payee","method":"GET","href":"http://localhost:3000/api/v1/payees/26"}]}'
      effective_url: http://localhost:3000/api/v1/charge_configs/280
  recorded_at: Tue, 10 Apr 2018 18:29:40 GMT
recorded_with: VCR 2.9.3
