---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/bank_accounts/25/portfolio_codes
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"114f10da8b5c32726638ce8734fa9966"
    body:
      encoding: UTF-8
      string: '{"portfolio_codes":["11","12","16","17","18","31","51"],"_links":{"rel":"bank_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/25"}}'
      effective_url: https://sandbox.cobrato.com/api/v1/bank_accounts/25/portfolio_codes
  recorded_at: Mon, 29 Jun 2015 12:33:32 GMT
recorded_with: VCR 2.9.3
