---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments/63/cancel
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-01-16T13:14:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["ub1xn9kjval1jzc0mk49"]'
    body:
      encoding: UTF-8
      string: '{"id":63,"payment_config_id":7,"payment_method":"das","payment_type":"tribute","amount":"90.0","registration_status":"cancelation_started","date":"2018-02-10","due_date":"2018-02-10","receita_federal_code":"5464","calculation_period":"2018-02-10","mulct_amount":"98.0","interest_amount":null,"gross_revenue":"0.07","gross_revenue_percentage":"9.07","_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/63"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/63"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/63"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/7"}]}'
      effective_url: http://localhost:3000/api/v1/payments/63/cancel
  recorded_at: Tue, 16 Jan 2018 13:13:02 GMT
recorded_with: VCR 2.9.3
