---
http_interactions:
- request:
    method: put
    uri: https://sandbox.cobrato.com/api/v1/payment_configs/2
    body:
      encoding: UTF-8
      string: '{"name":"Pagamento Eduardo Real - Santander"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2017-10-16T19:56:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["5o726f1df4at0cm84mdr","y9l7g7wnimzrlok4t83","uhh01od4gyb1noenb17q"]'
    body:
      encoding: UTF-8
      string: '{"id":2,"name":"Pagamento Eduardo Real - Santander","bank_account_id":155,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/2"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payment_configs/2"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payment_configs/2"},{"rel":"bank_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/155"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payment_configs/2
  recorded_at: Mon, 16 Oct 2017 19:55:01 GMT
recorded_with: VCR 2.9.3
