---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/webhooks
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"f4f85065b9aff84ef9f7b0727f1376e6"
    body:
      encoding: UTF-8
      string: '{"webhooks":[{"id":7,"url":"http://requestb.in/vp301qvp","description":"My
        Fake Webhook","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/webhooks/7"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/webhooks/7"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/webhooks/7"}]},{"id":8,"url":"http://requestb.in/we9598we","description":"Test
        One","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/webhooks/8"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/webhooks/8"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/webhooks/8"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/webhooks
  recorded_at: Fri, 26 Jun 2015 19:36:26 GMT
recorded_with: VCR 2.9.3
