---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_type":"other","payment_method":"billet_other_bank","barcode":"00190.00009
        03055.582005 00000.002121 4 73840000001401","date":"2017-12-26","due_date":"2018-12-26","agency":"3456","account":"23400","account_digit":"1","payee":{"national_identifier_type":"cpf","national_identifier":"123.456.789-09","name":"John
        Doe"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-06-11T20:07:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["rwhabot4ru1evh3uslxw","blxdttifx6tgyt3v7nqk"]'
    body:
      encoding: UTF-8
      string: '{"id":109,"amount":"14.01","payment_config_id":1,"discount_amount":null,"date":"2017-12-26","due_date":"2018-12-26","payment_method":"billet_other_bank","payment_type":"other","payee_document_type":"cpf","payee_document":"12345678909","payee_name":"John
        Doe","registration_status":"without_remittance","note":null,"_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/109"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/109"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/109"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/1"}]}'
      effective_url: http://localhost:3000/api/v1/payments
  recorded_at: Mon, 11 Jun 2018 20:06:16 GMT
recorded_with: VCR 2.9.3
