---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_type":"other","payment_method":"billet_other_bank","barcode":"00190.00009
        03055.582005 00000.002121 4 73840000001401","date":"2017-12-26","due_date":"2018-12-26","agency":"3456","account":"23400","account_digit":"1","payee_attributes":{"national_identifier_type":"cpf","national_identifier":"123.456.789-09","name":"John
        Doe"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-06-08T20:55:00Z'
      X-RateLimit-Remaining:
      - '58'
      X-MiniProfiler-Ids:
      - '["jhw9bspr7ckq15pl3str","qon218tac5f09ug0i7na","6d0m297alf4fptymyn6k","g43a0fr5vl7838b4dcdm","qf3jzcuq7xxrxx78f3gl","q4ldsk1bdjkblyqearq0","9yluo7ojfxie97bxc2dx","zjulvihw7rmttmj5ani7","ur4t7qztdr0166jmijow","dzxk5pmleqzgyx2lsddj","ratbb947b1rsb12lw02h","86ee371ywcfqxn4uw0gw","yzg7gi5km54a3e8lw6od"]'
    body:
      encoding: UTF-8
      string: '{"id":106,"amount":"14.01","payment_config_id":1,"discount_amount":null,"date":"2017-12-26","due_date":"2018-12-26","payment_method":"billet_other_bank","payment_type":"other","payee_document_type":"cpf","payee_document":"12345678909","payee_name":"John
        Doe","registration_status":"without_remittance","note":null,"_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/106"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/106"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/106"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/1"}]}'
      effective_url: http://localhost:3000/api/v1/payments
  recorded_at: Fri, 08 Jun 2018 20:54:44 GMT
recorded_with: VCR 2.9.3
