---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/bank_accounts
    body:
      encoding: UTF-8
      string: '{"payee_id":"17","bank_code":"001","agency":"1606","agency_digit":"3","account":"91000","account_digit":"7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"17d17bed1b98fddfac5e1b5642bb1c3d"
      Location:
      - https://sandbox.cobrato.com/api/v1/bank_accounts/25
    body:
      encoding: UTF-8
      string: '{"id":25,"payee_id":17,"bank_code":"001","agency":"1606","agency_digit":"3","account":"91000","account_digit":"7","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/25"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/25"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/25"},{"rel":"payee","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payees/17"},{"rel":"portfolio_code","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/25/portfolio_codes"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/bank_accounts
  recorded_at: Mon, 29 Jun 2015 12:28:06 GMT
recorded_with: VCR 2.9.3
