---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/credit_cards/14
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["zdgx50ry371gka8mz46y","4n6ridiklz0ctsc9yc3z"]'
    body:
      encoding: UTF-8
      string: '{"id":14,"number":"545301******6167","holder_name":"Fulano de Tal","unusable":false,"brand":"mastercard","expiration":"05/18","avs_address":"","avs_number":"","avs_complement":"","avs_district":"","avs_zipcode":"","payer_id":1,"charge_config_id":8,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/credit_cards/14"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/8"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/credit_cards/14
  recorded_at: Wed, 01 Jun 2016 18:16:29 GMT
recorded_with: VCR 2.9.3
