---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/credit_cards/7
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["fkra1emgf06w5gnpxcbt"]'
    body:
      encoding: UTF-8
      string: '{"id":7,"final_numbers":"6167","holder_name":"John Doe","unusable":false,"brand":"mastercard","expiration":"05/18","avs_address":"","avs_number":"","avs_complement":"","avs_district":"","avs_zipcode":"","payer_id":1,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/credit_cards/7"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/credit_cards/7
  recorded_at: Tue, 10 May 2016 12:55:08 GMT
recorded_with: VCR 2.9.3
