---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charges
    body:
      encoding: UTF-8
      string: '{"charge_config_id":1,"total_amount":721.0,"payment_method":"credit_card_financed","installments":3,"credit_card_id":7,"payer_attributes":{"national_identifier_type":"cpf","national_identifier":"12345678909","name":"Jonh
        Doe"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["gpdtsbesgpkpleutrcg9"]'
    body:
      encoding: UTF-8
      string: '{"id":12,"type":"payment_gateway","credit_card_id":7,"notification_emails":[],"total_amount":721.0,"currency_code":null,"description":null,"soft_descriptor":null,"payment_method":"credit_card_financed","installments":3,"generate_token":false,"payment_gateway_status":"payment_captured","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/12"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charges/12"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charges
  recorded_at: Mon, 09 May 2016 15:03:44 GMT
recorded_with: VCR 2.9.3
