---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_method":"darf","amount":1567.85,"date":"2017-10-31","due_date":"2017-10-31","calculation_period":"2017-09-30","receita_federal_code":"0571"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-01-05T20:34:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["olefiwll9efxdlb1xc74","y8nlpfungxnnvvup8z39"]'
    body:
      encoding: UTF-8
      string: '{"id":31,"payment_config_id":1,"payment_method":"darf","payment_type":"tribute","amount":"1567.85","date":"2017-10-31","due_date":"2017-10-31","receita_federal_code":"0571","calculation_period":"2017-09-30","reference_number":null,"mulct_amount":null,"interest_amount":null,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payments/31"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payments/31"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payments/31"},{"rel":"payment_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payments
  recorded_at: Fri, 05 Jan 2018 20:33:18 GMT
recorded_with: VCR 2.9.3
