---
http_interactions:
- request:
    method: put
    uri: https://sandbox.cobrato.com/api/v1/webhooks/8
    body:
      encoding: UTF-8
      string: '{"description":"RSpec integration"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"a36c90467faa5feb7af46787fc9641c0"
    body:
      encoding: UTF-8
      string: '{"id":8,"url":"http://requestb.in/we9598we","description":"RSpec integration","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/webhooks/8"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/webhooks/8"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/webhooks/8"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/webhooks/8
  recorded_at: Fri, 26 Jun 2015 20:21:36 GMT
recorded_with: VCR 2.9.3
