---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/credit_cards
    body:
      encoding: UTF-8
      string: '{"number":"547999******6055","holder_name":"JONH DOE","brand":"visa","expiration":"02/21","charge_config_id":319,"payer_id":7296,"soft_descriptor":"MyCompany","token":"b156fb5003b1adc2270d1c923c9f83e457d46d4c","national_identifier":"98857339068","cvv":"954"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2019-04-15T14:09:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Original-Cache-Control:
      - max-age=0, private, must-revalidate
      X-MiniProfiler-Ids:
      - '["7ozm9ww776ypu2dcp0lc"]'
    body:
      encoding: UTF-8
      string: '{"id":6150,"number":"547999******6055","holder_name":"JONH DOE","brand":"visa","expiration":"02/21","avs_address":null,"avs_number":null,"avs_complement":null,"avs_district":null,"avs_zipcode":null,"payer_id":7296,"reusability_status":"reusable","reusability_error_message":null,"charge_config_id":319,"_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/credit_cards/6150"},{"rel":"payer","method":"GET","href":"http://localhost:3000/api/v1/people/7296"},{"rel":"charge_config","method":"GET","href":"http://localhost:3000/api/v1/charge_configs/319"}]}'
      effective_url: http://localhost:3000/api/v1/credit_cards
  recorded_at: Mon, 15 Apr 2019 14:08:51 GMT
recorded_with: VCR 2.9.3
