---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/remittance_cnabs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ef9adc4cb0f4e63bdbeb1603c9238610"
    body:
      encoding: UTF-8
      string: '{"remittance_cnabs":[{"id":30,"charge_config_id":126,"status":"processed","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/30"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/30"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/126"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/30/file"},{"rel":"charges","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/30/charges"}]},{"id":32,"charge_config_id":126,"s[...]
