---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/remittance_cnabs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"5ab6448dd1d68e2d04b9b14b7ca678fc"
    body:
      encoding: UTF-8
      string: '{"remittance_cnabs":[{"id":11,"charge_account_id":126,"status":"processed","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11"},{"rel":"charge_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_accounts/126"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11/file"},{"rel":"charges","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11/charges"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/remittance_cnabs
  recorded_at: Mon, 01 Feb 2016 13:30:28 GMT
recorded_with: VCR 2.9.3
