---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charge_configs
    body:
      encoding: UTF-8
      string: '{"name":"Cielo testing","type":"payment_gateway","payee_id":1,"gateway_name":"cielo-ws15","gateway_id":"1006993069","gateway_key":"25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3","use_avs":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2017-03-06T14:39:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["9w2u9l6tk7nrannxo3nu"]'
    body:
      encoding: UTF-8
      string: '{"id":34,"type":"payment_gateway","name":"Cielo testing","status":"pending","payee_id":1,"gateway_name":"cielo-ws15","gateway_key":"25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3","gateway_id":"1006993069","use_avs":true,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/34"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charge_configs/34"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charge_configs/34"},{"rel":"payee","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payees/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charge_configs
  recorded_at: Mon, 06 Mar 2017 14:38:38 GMT
recorded_with: VCR 2.9.3
