---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charge_configs
    body:
      encoding: UTF-8
      string: '{"name":"Cielo testing","type":"payment_gateway","gateway_name":"cielo","gateway_id":"1006993069","gateway_key":"25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3","use_avs":true}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["24yxa5ap2y3gm3fkjzb","6i801uiu1lckckf2ikqx"]'
    body:
      encoding: UTF-8
      string: '{"id":6,"type":"payment_gateway","name":"Cielo testing","status":"pending","gateway_name":"cielo","gateway_key":"25fbb99741c739dd84d7b06ec78c9bac718838630f30b112d033ce2e621b34f3","gateway_id":1006993069,"use_avs":true,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/6"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charge_configs/6"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charge_configs/6"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charge_configs
  recorded_at: Mon, 16 May 2016 12:50:44 GMT
recorded_with: VCR 2.9.3
