---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_type":"tribute","payment_method":"tribute_with_barcode","barcode":"85620000000-3
        18940064729-4 81157833510-100181097273-5","due_date":"2017-10-25","date":"2017-10-25"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-01-04T13:25:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["hlu8f7xyhkiksvu2xa40"]'
    body:
      encoding: UTF-8
      string: '{"id":26,"amount":"18.94","payment_config_id":1,"date":"2017-10-25","due_date":"2017-10-25","payment_method":"tribute_with_barcode","payment_type":"tribute","registration_status":"without_remittance","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payments/26"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payments/26"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payments/26"},{"rel":"payment_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payments
  recorded_at: Thu, 04 Jan 2018 13:24:09 GMT
recorded_with: VCR 2.9.3
