---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates
    body:
      encoding: UTF-8
      string: '{"name":"Template Novo fulano","notification_emails":"fulano@teste.com","charged_amount":456.0,"due_date":"2016-11-30","document_date":"2016-11-30","document_number":"45ty67","document_kind":"DM","instructions":"","demonstrative":"","registrable":false,"auto_send_billet":false,"interest_amount_per_month":"","mulct_type":"","mulct_value":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["akecdkja3xqrqox3gjfs","3cyza44k63kozxlqhqbu","ozt611bj7ouz19m2okfg","xkyjb43cdw9v5w3fxixt","43pjwghhjq9togrymfiz","zqx4ezpuwf2pd2av6m7a","mxb0c8werdjk4amkjvi6","z35rtp9d3kjo5dx24i2u","cau566q1gj32yxh8kjqr","ocedoh48ije0j6tmqb6y","v2olm0jzebna8mfz7tbg","8am7hg05e8k27zmrbi7h","hshr18mneqm8ufn0xsez","g4ztxpfxftuwx5iiewx4"]'
    body:
      encoding: UTF-8
      string: '{"id":4,"name":"Template Novo fulano","notification_emails":"fulano@teste.com","charged_amount":456.0,"due_date":"2016-11-30","document_date":"2016-11-30","document_number":"45ty67","document_kind":"DM","charge_config_id":1,"instructions":"","demonstrative":"","registrable":false,"auto_send_billet":false,"interest_amount_per_month":null,"mulct_type":"","mulct_value":null,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates/4"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates/4"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates/4"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates
  recorded_at: Wed, 23 Nov 2016 20:36:05 GMT
recorded_with: VCR 2.9.3
