---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charge_templates
    body:
      encoding: UTF-8
      string: '{"name":"Special Customer","charged_amount":456.0,"document_kind":"DM","instructions":"","demonstrative":"","registrable":false,"auto_send_billet":false,"interest_amount_per_month":"","mulct_type":"","mulct_value":"","charge_config_id":11}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["uaiw7hhvkuraerog7e9w"]'
    body:
      encoding: UTF-8
      string: '{"id":3,"name":"Special Customer","charged_amount":456.0,"document_kind":"DM","instructions":"","demonstrative":"","registrable":false,"auto_send_billet":false,"interest_amount_per_month":null,"mulct_type":"","mulct_value":null,"charge_config_id":11,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_templates/3"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charge_templates/3"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charge_templates/3"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charge_templates
  recorded_at: Thu, 24 Nov 2016 22:22:11 GMT
recorded_with: VCR 3.0.3
