---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":7,"payment_method":"fgts","amount":1567.85,"date":"2017-10-31","receita_federal_code":"9876","barcode":"858000001573
        106501791804 107612050819 779937700010","fgts_identifier":"3242","connectivity_seal":"768768","connectivity_seal_digit":"3"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-01-11T20:52:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["tftc31j84tw5ebtu59ne","dpae0ob6hrfm4ld656jl","74j8p3tj026l7om3a6n0"]'
    body:
      encoding: UTF-8
      string: '{"id":76,"payment_config_id":7,"payment_method":"fgts","payment_type":"tribute","amount":"1567.85","date":"2017-10-31","registration_status":"without_remittance","receita_federal_code":"9876","barcode":"858000001573
        106501791804 107612050819 779937700010","fgts_identifier":"3242","connectivity_seal":"768768","connectivity_seal_digit":"3","_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/76"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/76"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/76"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/7"}]}'
      effective_url: http://localhost:3000/api/v1/payments
  recorded_at: Thu, 11 Jan 2018 20:51:43 GMT
recorded_with: VCR 2.9.3
