---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":1,"payment_method":"fgts","amount":1567.85,"date":"2017-10-31","barcode":"858000001573
        106501791804 107612050819 779937700010","taxpayer_document":"14610600000186","taxpayer_document_type":"cnpj"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-02-06T16:33:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["rwuackhsvbrfknihka55"]'
    body:
      encoding: UTF-8
      string: '{"id":40,"payment_config_id":1,"payment_method":"fgts","payment_type":"tribute","amount":"1567.85","date":"2017-10-31","registration_status":"without_remittance","barcode":"858000001573
        106501791804 107612050819 779937700010","taxpayer_document_type":"cnpj","taxpayer_document":"14610600000186","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payments/40"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payments/40"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payments/40"},{"rel":"payment_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payments
  recorded_at: Tue, 06 Feb 2018 16:32:13 GMT
recorded_with: VCR 2.9.3
