---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/remittance_cnabs
    body:
      encoding: UTF-8
      string: '{"charge_config_id":"126","charge_ids":[1914,1915]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"83bdd741577895b65f37f24dcb4647b3"
    body:
      encoding: UTF-8
      string: '{"remittance_cnabs":[{"id":41,"charge_config_id":126,"status":"processing","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/126"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41/file"},{"rel":"charges","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/41/charges"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/remittance_cnabs
  recorded_at: Mon, 04 Apr 2016 20:44:41 GMT
recorded_with: VCR 2.9.3
