---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/remittance_cnabs
    body:
      encoding: UTF-8
      string: '{"charge_account_id":"126","charge_ids":[1011,1328]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"e3700da6f720578ce7659f2f439d1915"
    body:
      encoding: UTF-8
      string: '{"remittance_cnabs":[{"id":11,"charge_account_id":126,"status":"processing","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11"},{"rel":"charge_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_accounts/126"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11/file"},{"rel":"charges","method":"GET","href":"https://sandbox.cobrato.com/api/v1/remittance_cnabs/11/charges"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/remittance_cnabs
  recorded_at: Mon, 01 Feb 2016 13:28:44 GMT
recorded_with: VCR 2.9.3
