---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":7,"payment_method":"das","amount":1567.85,"date":"2017-10-31","due_date":"2017-10-31","calculation_period":"2017-09-30","receita_federal_code":"0571","gross_revenue":45.0,"gross_revenue_percentage":0.07}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-01-08T18:29:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["tntmhfe3uvoe0q738d4p"]'
    body:
      encoding: UTF-8
      string: '{"id":64,"payment_config_id":7,"payment_method":"das","payment_type":"tribute","amount":"1567.85","date":"2017-10-31","due_date":"2017-10-31","receita_federal_code":"0571","calculation_period":"2017-09-30","mulct_amount":null,"interest_amount":null,"gross_revenue":"45.0","gross_revenue_percentage":"0.07","_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/64"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/64"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/64"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/7"}]}'
      effective_url: http://localhost:3000/api/v1/payments
  recorded_at: Mon, 08 Jan 2018 18:28:09 GMT
recorded_with: VCR 2.9.3
