---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/webhooks
    body:
      encoding: UTF-8
      string: '{"url":"http://requestb.in/vp301qvp","description":"My Fake Webhook"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"ce12f2809200158f07a2beac0c7fc131"
      Location:
      - https://sandbox.cobrato.com/api/v1/webhooks/7
    body:
      encoding: UTF-8
      string: '{"id":7,"url":"http://requestb.in/vp301qvp","description":"My Fake
        Webhook","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/webhooks/7"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/webhooks/7"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/webhooks/7"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/webhooks
  recorded_at: Fri, 26 Jun 2015 18:37:49 GMT
recorded_with: VCR 2.9.3
