---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/credit_cards?brand=mastercard&charge_config_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["5b1gm9y2wcm1e6wln0cj","t872ld2a09rk0r17vmvr","j1jryol8zh7rnq0plopk","pkod4vhnd3mgrtc6m4ef"]'
    body:
      encoding: UTF-8
      string: '{"credit_cards":[{"id":7,"number":"6167","holder_name":"John Doe","brand":"mastercard","expiration":"05/18","avs_address":"","avs_number":"","avs_complement":"","avs_district":"","avs_zipcode":"","payer_id":1,"reusable":true,"reusability_status":"ok","reusability_error_message":null,"charge_config_id":1,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/credit_cards/7"},{"rel":"payer","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payers/1"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/credit_cards?brand=mastercard&charge_config_id=1
  recorded_at: Fri, 24 Jun 2016 14:23:14 GMT
recorded_with: VCR 2.9.3
