---
http_interactions:
- request:
    method: put
    uri: https://sandbox.cobrato.com/api/v1/bank_accounts/24
    body:
      encoding: UTF-8
      string: '{"agency":"1623"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"b8451d4bb9f02e0cf333137e748cb75c"
    body:
      encoding: UTF-8
      string: '{"id":24,"payee_id":17,"bank_code":"001","agency":"1623","agency_digit":"3","account":"91000","account_digit":"7","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/24"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/24"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/24"},{"rel":"payee","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payees/17"},{"rel":"portfolio_code","method":"GET","href":"https://sandbox.cobrato.com/api/v1/bank_accounts/24/portfolio_codes"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/bank_accounts/24
  recorded_at: Mon, 29 Jun 2015 12:25:59 GMT
recorded_with: VCR 2.9.3
