---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates?charge_config_id=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["ozt611bj7ouz19m2okfg","3cyza44k63kozxlqhqbu"]'
    body:
      encoding: UTF-8
      string: '{"charge_templates":[{"id":1,"name":"Template 1","notification_emails":"","charged_amount":null,"due_date":null,"document_date":"2016-11-30","document_number":"12345","document_kind":"DM","charge_config_id":1,"instructions":"","demonstrative":"","registrable":false,"auto_send_billet":false,"interest_amount_per_month":null,"mulct_type":"","mulct_value":null,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates/1"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates/1"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1/charge_templates/1"}]},{"id":2,"name":"Template
        novo","notification_emails":"fulano@teste.com","charged_amount":456.0,"due_date":"2016-11-30","document_date":"2016-11-30","document_number":"45ty67","document_kin[...]
