---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charges/518/receive
    body:
      encoding: UTF-8
      string: '{"received_amount":"10.07","received_at":"2015-01-30"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["8w3y1eec1ledby9lc5dr"]'
    body:
      encoding: UTF-8
      string: '{"id":518,"type":"billet","charge_config_id":11,"due_date":"2016-10-08","document_kind":"DS","document_date":null,"document_number":"500","custom_our_number":false,"our_number":"410","our_number_digit":null,"charged_amount":500.0,"interest_amount_per_month":null,"mulct_type":"","mulct_value":null,"instructions":"","demonstrative":"","notification_emails":["hugo@mail.com"],"paid_amount":10.07,"paid_at":"2015-01-30T00:00:00.000Z","payment_tax":0.0,"processing_date":null,"for_homologation":false,"registrable":false,"registration_status":"without_remittance","payer_national_identifier_type":"cpf","payer_national_identifier":"12345678909","payer_name":"Test
        Payee Person","payer_number":"1568","payer_complement":"8 andar","payer_street":"Rua
        Avenida","payer_neighbourhood":"Centro","payer_zipcode":"111111111","payer_city":"Rio
        de Janeiro","payer_state":"RJ","canceled_at":null,"total_amount":500.0,"received_amount":10.07,"received_at":"2015-01-30T00:00:00.000Z","received":true,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/518"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charges/518"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charges/518"},{"rel":"deliver","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/518/deliver_billet"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/11"},{"rel":"billet","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/518/billet"},{"rel":"undo_receive","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/518/undo_receive"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charges/518/receive
  recorded_at: Wed, 28 Sep 2016 13:34:00 GMT
recorded_with: VCR 3.0.3
