---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/credit_cards
    body:
      encoding: UTF-8
      string: '{"number":"4012001037141112","cvv":123,"holder_name":"JONH DOE","brand":"visa","expiration":"05/18","charge_config_id":7,"payer_id":1,"soft_descriptor":"MyCompany"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["f2d5th3coeqij8rr34wl","n3lh8pgfgdrdgoyrzhpd","a2pfni1kx2iry3ump7es"]'
    body:
      encoding: UTF-8
      string: '{"id":23,"number":"401200******1112","holder_name":"JONH DOE","brand":"visa","expiration":"05/18","avs_address":null,"avs_number":null,"avs_complement":null,"avs_district":null,"avs_zipcode":null,"payer_id":1,"reusable":false,"reusability_status":"pending","reusability_error_message":null,"charge_config_id":7,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/credit_cards/23"},{"rel":"payer","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payers/1"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/7"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/credit_cards
  recorded_at: Fri, 24 Jun 2016 15:29:50 GMT
recorded_with: VCR 2.9.3
