---
http_interactions:
- request:
    method: put
    uri: https://sandbox.cobrato.com/api/v1/payments/10
    body:
      encoding: UTF-8
      string: '{"amount":"125.99"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2017-12-04T16:27:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["hdqaf4n1n55pl7jxkth4","a7ic0nef4zhuj65pf5so","wyfi27qokkg39tldtu1i"]'
    body:
      encoding: UTF-8
      string: '{"id":10,"amount":"125.99","date":"2017-12-07","our_number":null,"payment_method":"ted_same_ownership","payment_type":"benefit","account":"1234","account_digit":"4","agency":"123","bank_code":"033","payee_document":"123.456.789-09","payee_name":"Hugo","doc_goal":null,"ted_goal":"00300","registration_status":"without_remittance","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payments/10"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payments/10"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payments/10"},{"rel":"payment_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/payments/10
  recorded_at: Mon, 04 Dec 2017 16:26:25 GMT
recorded_with: VCR 2.9.3
