---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/charges
    body:
      encoding: UTF-8
      string: '{"charge_config_id":1,"charge_template_id":1,"processing_date":"2015-01-30","registrable":false,"charged_amount":10.07,"due_date":"2016-11-9","payer_attributes":{"national_identifier_type":"cpf","national_identifier":"12345678909","name":"Jonh
        Doe","number":"43","complement":"8 andar","street":"Rua do Carmo","neighbourhood":"Centro","zipcode":"22230062","city":"Rio
        de Janeiro","state":"RJ"}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["mx1cclw6eyonywm5j9ws","3cyza44k63kozxlqhqbu","ozt611bj7ouz19m2okfg","xkyjb43cdw9v5w3fxixt","43pjwghhjq9togrymfiz","zqx4ezpuwf2pd2av6m7a","mxb0c8werdjk4amkjvi6","z35rtp9d3kjo5dx24i2u","cau566q1gj32yxh8kjqr","ocedoh48ije0j6tmqb6y","v2olm0jzebna8mfz7tbg","8am7hg05e8k27zmrbi7h","hshr18mneqm8ufn0xsez","g4ztxpfxftuwx5iiewx4","akecdkja3xqrqox3gjfs","lhe1h818dy78ru70njqp","ee1sfgtwou7g0pgg1zls","lpbkottk0sgrh8retsja","zkr02hsbmueejm3bimzh","5eoq5yr80d5hinez5gpk"]'
    body:
      encoding: UTF-8
      string: '{"id":5,"type":"billet","charge_config_id":1,"due_date":"2016-11-09","document_kind":"DM","document_date":"2016-11-30","document_number":"12345","custom_our_number":false,"our_number":"2","our_number_digit":null,"charged_amount":10.07,"interest_amount_per_month":null,"mulct_type":"","mulct_value":null,"instructions":"","demonstrative":"","notification_emails":[],"paid_amount":null,"paid_at":null,"payment_tax":0.0,"processing_date":null,"for_homologation":false,"registrable":false,"registration_status":"without_remittance","payer_national_identifier_type":"cpf","payer_national_identifier":"12345678909","payer_name":"Jonh
        Doe","payer_number":"43","payer_complement":"8 andar","payer_street":"Rua
        do Carmo","payer_neighbourhood":"Centro","payer_zipcode":"22230062","payer_city":"Rio
        de Janeiro","payer_state":"RJ","canceled_at":null,"total_amount":10.07,"received_amount":null,"received_at":null,"received":false,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/5"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charges/5"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charges/5"},{"rel":"deliver","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/5/deliver_billet"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/1"},{"rel":"billet","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charges/5/billet"},{"rel":"receive","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/5/receive"},{"rel":"cancel","method":"POST","href":"https://sandbox.cobrato.com/api/v1/charges/5/cancel"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charges
  recorded_at: Thu, 24 Nov 2016 13:10:54 GMT
recorded_with: VCR 2.9.3
