---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/charge_templates/3
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-MiniProfiler-Ids:
      - '["5ux1zxgwg9x5u7nb5usi"]'
    body:
      encoding: UTF-8
      string: '{"id":3,"name":"Special Customer","charged_amount":456.0,"document_kind":"DM","instructions":"","demonstrative":"","registrable":false,"auto_send_billet":false,"interest_amount_per_month":null,"mulct_type":"","mulct_value":null,"charge_config_id":11,"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_templates/3"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/charge_templates/3"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/charge_templates/3"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/charge_templates/3
  recorded_at: Thu, 24 Nov 2016 22:23:48 GMT
recorded_with: VCR 3.0.3
