---
http_interactions:
- request:
    method: post
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: UTF-8
      string: '{"payment_config_id":7,"payment_method":"dpvat","amount":1567.85,"date":"2017-10-31","due_date":"2017-10-31","city_code":56,"discount_amount":0.03,"competency_year":"2018","license_plate":"KQT7890","renavam":"345352","uf":"rj"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2018-01-10T18:04:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["7wnbzlgvu0ww14rsve9x"]'
    body:
      encoding: UTF-8
      string: '{"id":73,"payment_config_id":7,"payment_method":"dpvat","payment_type":"tribute","amount":"1567.85","date":"2017-10-31","due_date":"2017-10-31","city_code":"56","competency_year":"2018","discount_amount":"0.03","license_plate":"KQT7890","renavam":"345352","uf":"rj","_links":[{"rel":"self","method":"GET","href":"http://localhost:3000/api/v1/payments/73"},{"rel":"update","method":"PUT","href":"http://localhost:3000/api/v1/payments/73"},{"rel":"destroy","method":"DELETE","href":"http://localhost:3000/api/v1/payments/73"},{"rel":"payment_config","method":"GET","href":"http://localhost:3000/api/v1/payment_configs/7"}]}'
      effective_url: http://localhost:3000/api/v1/payments
  recorded_at: Wed, 10 Jan 2018 18:03:28 GMT
recorded_with: VCR 2.9.3
