---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/regress_cnabs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"3397536a9cd2dc7336f294c669c08639"
    body:
      encoding: UTF-8
      string: '{"regress_cnabs":[{"id":45,"charge_account_id":124,"status":"processed","report":{"charge_account_id":124,"charges":{"not_found_amount":1,"found_amount":0,"found":[],"errors_amount":0,"successes_amount":0,"total":1},"charge_account":{"id":124,"bank_account_id":49,"portfolio_code":"11","agreement_code":"515151","name":"Banco
        do Brasil","agreement_code_digit":"1","status":"pending","billet_file_name":null,"billet_content_type":null,"billet_file_size":null,"billet_updated_at":null,"initial_number":1,"current_number":1,"end_number":null,"registered_charges":false,"agreement_number":null,"initial_remittance_number":1,"current_remittance_number":1,"remittance_cnab_pattern":240,"interest_amount_per_month":null,"mulct_type":"nil","mulct_value":null},"received_charges":[],"registered_charges":[]},"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/45"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/45"},{"rel":"charge_account","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_accounts/124"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/45/file"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/regress_cnabs
  recorded_at: Wed, 13 Jan 2016 12:23:06 GMT
recorded_with: VCR 3.0.1
