---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/regress_cnabs
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d2e0a60bf81e9b7dd82543cae8268530"
    body:
      encoding: UTF-8
      string: '{"regress_cnabs":[{"id":62,"charge_config_id":124,"status":"processed","report":{"charges_not_found":0,"received_charges":[],"registered_charges":[]},"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/62"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/62"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/124"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/62/file"}]},{"id":63,"charge_config_id":124,"status":"processed","report":{"charges_not_found":0,"received_charges":[],"registered_charges":[]},"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/63"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/63"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/124"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/63/file"}]},{"id":64,"charge_config_id":124,"status":"processed","report":{"charges_not_found":0,"received_charges":[],"registered_charges":[]},"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/64"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/64"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/124"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/64/file"}]}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/regress_cnabs
  recorded_at: Mon, 04 Apr 2016 20:27:30 GMT
recorded_with: VCR 2.9.3
