---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/payments
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '60'
      X-RateLimit-Reset:
      - '2017-12-04T16:26:00Z'
      X-RateLimit-Remaining:
      - '59'
      X-MiniProfiler-Ids:
      - '["a7ic0nef4zhuj65pf5so"]'
    body:
      encoding: UTF-8
      string: '{"payments":[{"id":16,"amount":"255.99","date":"2017-10-22","our_number":null,"payment_method":"ted_other_ownership","payment_type":"provider","account":"21500","account_digit":"3","agency":"9358","bank_code":"341","payee_document":"123.456.789-09","payee_name":"Jane
        Doe","doc_goal":null,"ted_goal":null,"registration_status":"remitted","_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payments/16"},{"rel":"update","method":"PUT","href":"https://sandbox.cobrato.com/api/v1/payments/16"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/payments/16"},{"rel":"payment_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/payment_configs/1"}]},{"id":15,"amount":"78.97","date":"2017-12-29","our_number":null,"payment_method":"doc_same_ownership","payment_type":"other","account":"1234","account_digit":"4","age[...]
