---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/charging_types
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"2ccdffc27041ea3d76866925162384bb"
    body:
      encoding: UTF-8
      string: '{"charging_types":{"bank_billets":[{"bank_code":"001","bank_name":"BancoDoBrasil","portfolio_codes":["11","12","16","17","18","31","51"],"regress":true,"remittance":false},{"bank_code":"033","bank_name":"Santander","portfolio_codes":["101","102"],"regress":true,"remittance":false},{"bank_code":"104","bank_name":"Caixa","portfolio_codes":["SINCO-1","SIGCB-1","SIGCB-2","SICOB-82","SICOB-9"],"regress":true,"remittance":false},{"bank_code":"237","bank_name":"Bradesco","portfolio_codes":["3","6","9","25"],"regress":true,"remittance":false},{"bank_code":"341","bank_name":"Itau","portfolio_codes":["109","112","157"],"regress":true,"remittance":false}]}}'
      effective_url: https://sandbox.cobrato.com/api/v1/charging_types
  recorded_at: Wed, 23 Sep 2015 19:55:03 GMT
recorded_with: VCR 2.9.3
