---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"d9ae1784ad8c8e21a0636b13a5fc484d"
    body:
      encoding: UTF-8
      string: '{"id":42,"uuid":"c60879af-c6c4-4503-8eb1-512257df0cf1","name":"my favorite
        account","plan_slug":"cobrato-basic"}'
      effective_url: https://sandbox.cobrato.com/api/v1
  recorded_at: Thu, 25 Jun 2015 18:28:03 GMT
recorded_with: VCR 2.9.3
