---
http_interactions:
- request:
    method: get
    uri: https://sandbox.cobrato.com/api/v1/regress_cnabs/117
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      ETag:
      - W/"c91652ec0845ea4000a18522c145d50d"
    body:
      encoding: UTF-8
      string: '{"id":117,"charge_config_id":124,"status":"processed","report":{"charges_not_found":0,"received_charges":[],"registered_charges":[]},"_links":[{"rel":"self","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/117"},{"rel":"destroy","method":"DELETE","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/117"},{"rel":"charge_config","method":"GET","href":"https://sandbox.cobrato.com/api/v1/charge_configs/124"},{"rel":"file","method":"GET","href":"https://sandbox.cobrato.com/api/v1/regress_cnabs/117/file"}]}'
      effective_url: https://sandbox.cobrato.com/api/v1/regress_cnabs/117
  recorded_at: Mon, 04 Apr 2016 20:35:48 GMT
recorded_with: VCR 2.9.3
